<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Belajar Simplisia Fructus</title>
  <meta name="description" content="Sistem Deteksi Simplisia Fructus">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/fructusadmin/assets/css/normalize.css">
  <link rel="stylesheet" href="/static/fructusadmin/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/fructusadmin/assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/fructusadmin/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/static/fructusadmin/assets/css/flag-icon.min.css">
  <link rel="stylesheet" href="/static/fructusadmin/assets/css/cs-skin-elastic.css">
  <link rel="stylesheet" href="/static/fructusadmin/assets/scss/style.css">
  <link rel="stylesheet" href="/static/fructusadmin/assets/scss/widgets.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <link href="/static/fructusadmin/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body>
  <!-- Left Panel -->
  <aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
          aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand my-auto"> <img src="/static/fructusadmin/images/Logo.png" alt="Logo" width="664"></a>
      </div>

      <div id="main-menu" class="main-menu collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="{{ url_for('main') }}"> <i class="menu-icon fa fa-home"></i>Beranda</a>
          </li>
          <li>
            <a href="{{ url_for('belajar') }}"> <i class="menu-icon fa fa-leanpub"></i>Belajar
              Fructus </a>
          </li>
          <li>
            <a href="{{ url_for('classification') }}"> <i class="menu-icon fa fa-image"></i>Image
              Classification </a>
          </li>
          <li>
            <a href="{{ url_for('tentang') }}"> <i class="menu-icon fa fa-info"></i>Tentang Pengembang</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </aside><!-- /#left-panel -->

  <!-- Left Panel -->

  <!-- Right Panel -->
  <div id="right-panel" class="right-panel">
    <header id="header" class="header">
      <div class="header-menu">
        <div class="col-sm-7">
          <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
          <div class="header-left"></div>
        </div>
        <div class="col-sm-5">
          <div class="user-area dropdown float-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="user-avatar rounded-circle" src="/static/fructusadmin/images/admin.jpg" alt="User Avatar"></a>
          </div>
        </div>
      </div>
    </header>
    <div class="content mt-3">
      <div class="animated fadeIn">
        <div class="row"></div>
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Simplisia Fructus</strong>
            </div>
            <div class="card-body">
              <blockquote>
                Simplisia Fructus berasal dari bagian tanaman berupa buah. Buah adalah organ pada tumbuhan berbunga,
                hasil perkembangan lanjutan dari bakal buah (ovarium) yang mengalami spesialisasi, berfungsi untuk
                melindungi biji. Buah yang digunakan dapat berupa buah yang tua tetapi belum masak, atau juga buah yang
                memang sudah
                benar-benar masak. Di bawah ini beberapa contoh simplisia fructus yang dapat anda pelajari:
              </blockquote>

              <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="albi-tab" data-toggle="tab" href="#albi" role="tab"
                    aria-controls="albi" aria-selected="true">Piperis Albi Fructus</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="nigri-tab" data-toggle="tab" href="#nigri" role="tab" aria-controls="nigri"
                    aria-selected="false">Piperis Nigri Fructus</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="cumini-tab" data-toggle="tab" href="#cumini" role="tab" aria-controls="cumini"
                    aria-selected="false">Cumini Fructus</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="retrofractum-tab" data-toggle="tab" href="#retrofractum" role="tab"
                    aria-controls="retrofractum" aria-selected="false">Piper Retrofractum Fructus</Frame></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="capsici-tab" data-toggle="tab" href="#capsici" role="tab"
                    aria-controls="capsici" aria-selected="false">Capcisi Frutecentis Fructus</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="tamarin-tab" data-toggle="tab" href="#tamarin" role="tab"
                    aria-controls="tamarin" aria-selected="false">Tamarindus Indica Fructus</Frame></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="amomi-tab" data-toggle="tab" href="#amomi" role="tab" aria-controls="amomi"
                    aria-selected="false">Amomi Fructus</a>
                </li>
              </ul>
              <hr>
              <p class="mb-0"></p>
              <!-- ...............................INI BAGIAN PIPERIS ALBI FRUCTUS PRUCTUS............................................................................. -->
              <div class="tab-content pl-3 p-1" id="myTabContent">
                <div class="tab-pane fade show active" id="albi" role="tabpanel" aria-labelledby="albi-tab">
                  <div class="row">
                    <div class="col-lg-6">
                      <img src="/static/fructusadmin/images/albi.jpg" alt="Albi Fructus"
                        class="img-fluid rounded mx-auto d-block">
                    </div>
                    <div class="col-lg-6">
                      <div class="alert alert-success text-center" role="alert">
                        <h3>Piperis Albi Fructus</h3>
                        <hr>
                        <p>Piperis Albi Fructus adalah nama Latin untuk buah yang lebih dikenal sebagai <strong> Lada
                            Putih atau White Pepper </strong>. Buah ini berasal dari tanaman <em>Piper Nigrum
                            L.</em>yang termasuk dalam famili <strong><em>Piperaceae</em></strong>. Piperis Albi Fructus
                          merupakan salah satu simplisia dari <strong>buah lada yang telah matang di pohon</strong>,
                          dipanen, dikelupas kulitnya, serta dikeringkan sebagai bagian yang digunakannya. Sehingga,
                          lada putih dan lada hitam berasal dari tanaman buah lada yang sama</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Kandungan Senyawa Isi Berkhasiat</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <p>Piperis albi fructus (Lada putih) mengandung alkaloid seperti <strong>piperin</strong> (tidak
                          larut dalam
                          air, tidak berbau, mula-mula tidak berasa tetapi lama-lama pedas), <strong>khavisin</strong>
                          (berupa hablur putih kekuningan), dan
                          metilpirolin, serta <strong>minyak atsiri</strong> (berisi felandren dan kariofilen),
                          <strong>lemak dan pati</strong>. Senyawa
                          utama dalam buah ini adalah
                          alkaloid piperin yang memberikan rasa pedas.
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Pemerian (Rasa dan Aroma)</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <p>Pemerian piperis albi fructus ini adalah <strong>kurang rasa pedas tetapi lebih bau
                            aromatik</strong> dibanding piperis nigri fructus. Ini disebabkan oleh perbedaan dalam
                          proses pemrosesan dan kandungan senyawa dalam buah.</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Waktu Panen dan Mengolah</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <ul>
                          <li><strong>Pemanenan:</strong> Lada putih dipanen ketika sudah mencapai tahap hampir matang,
                            sekitar 7-9 bulan setelah
                            penanaman. Buah lada putih akan mulai berubah warna dari hijau menjadi kuning atau
                            kecokelatan, menandakan bahwa buah sudah cukup matang untuk dipanen. Saat inilah biji dalam
                            buah lada putih mulai mengembang dan masih dalam keadaan berwarna putih.</li>
                          <li><strong>Sortasi basah:</strong> buah lada putih direndam air dan dikupas kulitnya untuk
                            memisahkan kulit luar yang keras dan tebal.
                            Proses pengupasan dapat dilakukan dengan menggulingkan buah lada dalam air atau dengan mesin
                            pengupas khusus yang menggosok kulit luar hingga terkelupas. Proses ini penting untuk
                            mendapatkan biji lada putih yang berkualitas.</li>
                          <li><strong>Sortasi kering:</strong> Lada putih dikeringkan untuk mengurangi kadar airnya.
                            Pengeringan dapat dilakukan secara
                            alami dengan sinar matahari atau dengan menggunakan alat pengering khusus. Proses
                            pengeringan ini memastikan bahwa biji lada putih memiliki kelembapan yang tepat untuk
                            penyimpanan jangka panjang dan mencegah pembusukan. Beberapa produsen mungkin juga melalui
                            proses pemutihan untuk mencerahkan warna biji lada
                            putih yang mungkin berubah menjadi kekuningan selama proses pengeringan. Ini dilakukan
                            dengan metode kimia atau pemutihan sinar matahari (proses pemutihan ini bersifat opsional).
                          </li>
                          <li><strong>Penyimpanan:</strong> Lada putih yang sudah kering harus dikemas dalam wadah anti
                            lembab dan disimpan di tempat kering, bersih, sejuk, bebas hama serta jauh dari sinar
                            matahari langsung. Lada yang disimpan harus dicek secara teratur untuk tanda-tanda
                            pembusukan atau kelembaban. Jika ternyata telah lembab, silakan segera dikeringkan kembali
                            hingga kadar air 10%.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Indikasi Kegunaan (Manfaat)</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <ol>
                          <li><strong>Karminativa:</strong> meredakan atau mengurangi pembentukan gas dalam saluran
                            pencernaan, seperti perut kembung, kram perut, dan gejala lainnya yang terkait dengan
                            produksi gas berlebih dalam saluran pencernaan.</li>
                          <li><strong>Antiinflamasi:</strong> kandungan senyawa piperin dalam lada putih diyakini
                            memiliki efek
                            untuk membantu meredakan peradangan dalam tubuh. Seperti
                            mengurangi gejala kondisi inflamasi yaitu arthritis atau penyakit
                            inflamasi usus, hingga meredakan berbagai jenis nyeri, termasuk nyeri otot,
                            sakit kepala, dan nyeri sendi.</li>
                          <li><strong>Antioksidan:</strong> untuk melindungi sel-sel tubuh dari kerusakan oksidatif dan
                            dapat membantu dalam pencegahan penyakit degeneratif seperti penyakit jantung, kanker, dan
                            penuaan dini.</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- .INI BAGIAN PIPERIS NIGRI FRUCTUS -->
                <div class="tab-pane fade" id="nigri" role="tabpanel" aria-labelledby="nigri-tab">
                  <div class="row">
                    <div class="col-lg-6">
                      <img src="/static/fructusadmin/images/nigri.jpg" alt="Nigri Fructus"
                        class="img-fluid rounded mx-auto d-block">
                    </div>
                    <div class="col-lg-6">
                      <div class="alert alert-success text-center" role="alert">
                        <h3>Piperis Nigri Fructus</h3>
                        <hr>
                        <p>Piperis Nigri Fructus adalah nama Latin untuk buah yang lebih dikenal sebagai <strong> Lada
                            Hitam, Merica Hitam atau Black Pepper </strong>. Buah ini berasal dari tanaman <em>Piper
                            Nigrum
                            L.</em>yang termasuk dalam famili <strong><em>Piperaceae</em> sama seperti lada putih
                            (piperis albi fructus)</strong>. Piperis Nigri Fructus
                          merupakan salah satu simplisia yang masih bagian buah lada. Bagian yang diambil adalah
                          <strong> buah yang belum matang dan masih berwarna hijau, serta langsung dikeringkan tanpa
                            pengelupasan kulitnya.</strong>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Kandungan Senyawa Isi Berkhasiat</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <ul>
                          <li>Minyak atsiri berisi felandren,kariofilen (senyawa yang memberikan aroma khas pada lada
                            hitam dan telah diteliti karena sifat antiinflamasi dan analgesik potensialnya). Alkaloida
                            khavisin (berupa hablur putih
                            kekuningan ,rasa amat pedas) piperin tidak larut dalam air,mula-mula tidak berasa,lama-lama
                            pedas dan tajam,oleh alkali diuraikan jadi piperidin dan asam piperat. Piperidin (cairan
                            atsiri larut dalam air dan alcohol). <strong>Dengan persyaratan kadar Minyak atsiri tidak
                              kurang dari 1% v/b </strong></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Pemerian (Rasa dan Aroma)</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <p>Pemerian piperis nigri fructus ini adalah <strong>kurang rasa pedas tetapi lebih bau
                            aromatik</strong> dibanding piperis nigri fructus. Ini disebabkan oleh perbedaan dalam
                          proses pemrosesan dan kandungan senyawa dalam buah.</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Waktu Panen dan Mengolah</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <ul>
                          <li>Dipetik selagi masih hijau.</li>
                          <li>Dijemur atau dikeringkan di atas api sampai menjadi hitam dan berkeriput.</li>
                          <li>Buah tersebut yang dikeringkan di atas api agak berbau asap, justru ini yang disukai
                            sebagai
                            simplisia sedian obat.</li>
                          <li>cara menentukan lada yang sudah kering dapat dilakukan dengan cara diraba atau dipijat
                            menggunakan tangan, apabila lada menimbulkan suara menggeretak atau pecah maka lada sudah
                            kering optimal. Agar lebih akurat dapat diukur menggunakan alat kadar air atau moisture
                            meter.
                          </li>
                          <li>Setelah kering kemudian lada dibersihkan dari bahan-bahan ringan maupun benda asing
                            seperti
                            tanah, pasir, hingga lada yang berkualitas buruk dengan cara ditampi menggunakan tampah.
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Indikasi Kegunaan (Manfaat)</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <ol>
                          <li><strong>Karminativa :</strong> meredakan atau mengurangi pembentukan gas dalam saluran
                            pencernaan, seperti perut kembung, kram perut, dan gejala lainnya yang terkait dengan
                            produksi gas berlebih dalam saluran pencernaan.</li>
                          <li><strong>Antiinflamasi :</strong> Senyawa piperin dalam lada putih diyakini memiliki efek
                            untuk membantu meredakan peradangan dalam tubuh. Seperti
                            mengurangi gejala kondisi inflamasi yaitu arthritis atau penyakit
                            inflamasi usus, hingga meredakan berbagai jenis nyeri, termasuk nyeri otot,
                            sakit kepala, dan nyeri sendi.</li>
                          <li><strong>Antioksidan :</strong> untuk melindungi sel-sel tubuh dari kerusakan oksidatif dan
                            dapat membantu dalam pencegahan penyakit degeneratif seperti penyakit jantung, kanker, dan
                            penuaan dini, dan melawan radikal bebas pada tubuh.</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ...............................INI BAGIAN CUMINI PRUCTUS............................................................................. -->
                <div class="tab-pane fade" id="cumini" role="tabpanel" aria-labelledby="cumini-tab">
                  <div class="row">
                    <div class="col-lg-6">
                      <img src="/static/fructusadmin/images/cumini.jpg" alt="cumini Fructus"
                        class="img-fluid rounded mx-auto d-block">
                    </div>
                    <div class="col-lg-6">
                      <div class="alert alert-success text-center" role="alert">
                        <h3>Cumini Fructus</h3>
                        <hr>
                        <p>Cumini Fructus adalah nama Latin untuk buah yang sering disebut dengan <strong>
                            Jinten</strong>. Buah ini berasal dari tanaman <em> Cuminum Cyminum</em>yang termasuk dalam
                          famili <strong><em>Apiaceae</em></strong>. Cumini Fructus
                          merupakan salah satu jenis simplisia fructus (buah) untuk diolah sebagai pembuatan obat
                          tradisional maupun makanan. Dengan bagian yang digunakan adalah <strong>buah yang sudah matang
                            dan kering</strong>.</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Kandungan Senyawa Isi Berkhasiat</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <p> Minyak atsiri yang mengandung kuminal, lemak.</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Pemerian (Rasa dan Aroma)</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <p>Pemerian cumini fructus ini adalah <strong>memiliki rasa hangat, pedas, dan manis lebih
                            dominan daripada rasa pahitnya</strong>.
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Waktu Panen dan Mengolah</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <ul>
                          <li>Pemanenan yang dilakukan bila tanaman mulai mengering, biji sudah tidak berwarna hijau tua
                            lagi, dengan cara mencabut tanaman. Waktu panen ini terjadi sekitar 3-4 bulan setelah
                            tanaman
                            berbunga.</li>
                          <li>Setelah dipanen, anaman dijemur dan diirik, dipukul-pukul dengan kayu agar bijinya
                            terlepas
                            dari buahnya.</li>
                          <li>Bijinya kemudian dikeringkan dengan hati-hati, seringkali dengan menggunakan metode
                            pengeringan alami di bawah sinar matahari atau dengan menggunakan pengering buatan manusia.
                          </li>
                          <li>biji jintan disortir dan dibersihkan untuk menghilangkan kotoran dan benda asing
                            lainnya yang mungkin terkandung di dalamnya. Proses ini memastikan bahwa biji jintan
                            yang dihasilkan dalam kondisi bersih dan layak konsumsi.
                          </li>
                          <li>Setelah bersih dan kering, biji jintan disimpan dalam wadah yang sesuai untuk mencegah
                            kelembaban dan kontaminasi. Penyimpanan yang tepat membantu menjaga kualitas biji jintan
                            hitam
                            dan memperpanjang masa simpannya.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Indikasi Kegunaan (Manfaat)</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <ol>
                          <li><strong>Karminativa:</strong> meredakan atau mengurangi pembentukan gas dalam saluran
                            pencernaan, seperti perut kembung, kram perut, dan gejala lainnya yang terkait dengan
                            produksi gas berlebih dalam saluran pencernaan.</li>
                          <li><strong>Antiinflamasi:</strong> untuk membantu meredakan peradangan dalam tubuh. Ini
                            dapat bermanfaat untuk mengurangi gejala kondisi inflamasi seperti arthritis atau penyakit
                            inflamasi usus.</li>
                          <li><strong>Antioksidan:</strong> untuk melindungi sel-sel tubuh dari kerusakan oksidatif dan
                            dapat membantu dalam pencegahan penyakit degeneratif seperti penyakit jantung, kanker, dan
                            penuaan dini.</li>
                          <li><strong>Pereda Nyeri (Iritasi Lokal) :</strong> Senyawa piperin dalam lada putih diyakini
                            memiliki efek
                            penghilang nyeri yang dapat membantu meredakan berbagai jenis nyeri, termasuk nyeri otot,
                            sakit kepala, dan nyeri sendi.</li>
                          <li><strong>Peningkatan Penyerapan Nutrisi:</strong> Piperin dalam lada hitam telah
                            ditunjukkan dalam penelitian untuk meningkatkan penyerapan nutrisi dalam tubuh, terutama
                            beberapa jenis vitamin dan mineral. Ini dapat membantu meningkatkan efisiensi penyerapan
                            nutrisi dari makanan yang dikonsumsi.</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ...............................INI BAGIAN PIPER RETROFRACTUM PRUCTUS............................................................................. -->
                <div class="tab-pane fade" id="retrofractum" role="tabpanel" aria-labelledby="retrofractum-tab">
                  <div class="row">
                    <div class="col-lg-6">
                      <img src="/static/fructusadmin/images/retrofractum.jpg" alt="Retrofractum Fructus"
                        class="img-fluid rounded mx-auto d-block">
                    </div>
                    <div class="col-lg-6">
                      <div class="alert alert-success text-center" role="alert">
                        <h3>Piper Retrofractum Fructus</h3>
                        <hr>
                        <p>Piper Retrofractum Fructus adalah nama latin untuk buah<strong> cabai jawa, cabya, cabai jamu
                            atau lada panjang </strong>. Nama daerah lain adalah <em>cabhi solak atau cabhi alas</em>
                          (Madura) dan <em>cabya</em> (Sulawesi). Retrofractum Fructus
                          merupakan jenis tanaman herbal yang masih berkerabat dengan lada dan kemukus,
                          termasuk dalam suku sirih-sirihan karena tanamannya tumbuh merambat . Buah ini berasal dari
                          tanaman <em>Piper Retrofractum
                            (Vahl)</em> yang termasuk dalam famili <strong><em>Piperaceae</em></strong>. Dengan bagian
                          yang ambil sebagai simplisia adalah buah <strong>cabai
                            jawa yang majemuk (telah tua tetapi belum belum matang)</strong></p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Kandungan Senyawa Isi Berkhasiat</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <p> Piper Retrofractum Fructus (Lada putih) mengandung senyawa<strong> triterpenoid,
                            flanvonoid</strong>, dan
                          <strong>alkaloid</strong> seperti <strong>piperin</strong> (tidak larut dalam air,
                          tidak berbau, mula-mula tidak berasa tetapi lama-lama pedas) dengan kandungan sekitar 4,6%,
                          <strong>serta mengandung minyak atsiri, damar dan pati</strong>.
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Pemerian (Rasa dan Aroma)</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <p>Pemerian piper retrofractum fructus ini adalah memiliki rasa pedas dan hangat (aromatik),
                          serta sedikit
                          nuansa manis (yang berasal dari senyawa terpenoid dan flavonoid)</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Waktu Panen dan Mengolah</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <ul>
                          <li><strong>Pemanenan:</strong> dilakukan dengan cara memetik buah yang siap panen dari
                            setiap
                            sulur buah. Tanda buah cabai jawa siap panen adalah warnanya hijau kekuningan sampai kuning
                            gading. Masa panen pertama biasanya dilakukan pada awal Maret atau akhir Februari. Panen
                            kedua, ketiga, dan seterusnya dilakukan dalam intervall waktu 2-3 minggu.</li>
                          <li><strong>Sortasi Basah:</strong> buah direndam terlebih dulu di dalam air mendidikh selama
                            10
                            menit untuk menghentikan proses pematangan, sehingga diperoleh kualitas yang seragam</li>
                          <li><strong>Sortasi Kering:</strong> buah yang telah dipetik segera digelar di atas tikar,
                            bambu
                            atau tampah. Dikeringkan dengan cara diangin-anginkan saja dan tidak ditumpuk, jangan
                            langsung
                            terkena sinar matahari, untuk mencegah penjamuran. Lama pengeringan tergantung cuaca, bils
                            sinar matahari cukup diperlukan 5-7 hari. Bila matahari kurang baik maka dapat menggunakan
                            oven. Buah dianggap kering apabila kadar air telah mencapai 10-12%.</li>
                          <li><strong>Penyimpanan:</strong> buah cabai jawa yang sudah kering selanjutnya disimpan dalam
                            wadah kering tertutup dengan baik dan dapat langsung dipasarkan.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Indikasi Kegunaan (Manfaat)</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <ol>
                          <li><strong>Karminativa:</strong> meredakan atau mengurangi pembentukan gas dalam saluran
                            pencernaan, seperti perut kembung, kram perut, dan gejala lainnya yang terkait dengan
                            produksi gas berlebih dalam saluran pencernaan.</li>
                          <li><strong>Stimulansia:</strong> untuk meningkatkan aktivitas sistem saraf, konsentrasi,
                            imun, energi, dan gairah</li>
                          <li><strong>Diaforetika:</strong> untuk membantu tubuh dalam meredakan demam atau penyakit
                            tertentu dengan meningkatkan proses pengeluaran panas melalui keringat.</li>
                          <li>Cabai jawa juga berkhasiat sebagai obat sakit perut, masuk angin, beri-beri, reumatik,
                            tekanan darah rendah, kolera, influenza, sakit kepala, lemah syahwat, bronkitis, dan sesak
                            nafas</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ...............................INI BAGIAN CAPSICI FRUTESCENTIS PRUCTUS............................................................................. -->
                <div class="tab-pane fade" id="capsici" role="tabpanel" aria-labelledby="capsici-tab">
                  <div class="row">
                    <div class="col-lg-6">
                      <img src="/static/fructusadmin/images/capsici.jpg" alt="Capsici Fructus"
                        class="img-fluid rounded mx-auto d-block">
                    </div>
                    <div class="col-lg-6">
                      <div class="alert alert-success text-center" role="alert">
                        <h3>Capsici Frutecentis Fructus</h3>
                        <hr>
                        <p> Capsici Frutescentis Fructus adalah nama latin untuk buah<strong> cabai rawit, cabai
                            keriting, atau cabai burung</strong>. Buah
                          ini berasal dari tanaman <em>Capcisium frutescens</em> yang termasuk dalam famili
                          <strong><em>Solananacae</em></strong>. Buah cabai merupakan buah yang sangat pedas dan
                          lebih kecil dibandingkan dengan cabai biasa. Tanaman ini biasanya ditanam sebagai semak.
                          Dengan bagian yang ambil sebagai simplisia adalah buah <strong>cabai sudah
                            matang</strong>.
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Kandungan Senyawa Isi Berkhasiat</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <p> Capcisi Frutescentis Fructus mengandung senyawa:
                          <li><strong> Capsaicinoids (kapsisin):</strong> senyawa utama yang memberikan rasa pedas pada
                            cabai.</li>
                          <li><strong> Karotenoid:</strong> berupa beta-karoten dan kapsantin (pigmen yang memberikan
                            zat warna buah atau sayuran tertentu).</li>
                          <li><strong> Vitamin C dan senyawa damar</strong></li>
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Pemerian (Rasa dan Aroma)</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <p>Pemerian Capsici Frutecentis fructus ini adalah <strong>memiliki rasa hangat (aromatik) dan
                            rasa pedas</strong>.
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Waktu Panen dan Mengolah</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <ul>
                          <li><strong>Pemanenan:</strong> dilakukan dengan cara memetik buah yang siap panen.
                            Panen dilakukan pagi hari setelah ada sinar matahari dan dipetik mengikutsertakan
                            batang buahnya. Buah yang dipanen adalah yang berwarna merah, hijau kemerahan, atau hitam
                            kemerahan. Saat panen langsung dilakukan sortasi, buah yang rusak atau terkena hama langsung
                            dipisahkan.</li>
                          <li><strong>Sortasi Basah:</strong> lakukan pencucian untuk membersihkan kotor yang menempel
                            pada buah. </li>
                          <li><strong>Sortasi Kering:</strong> buah cabai yang telah dicuci dilakukan pengeringan dengan
                            sinar matahari langsung atau oven pada suhu 44-45 derajat celcius selama 5 hari atau hingga
                            jumlah kadar air 6,99%</li>
                          <li><strong>Penyimpanan:</strong> buah cabai yang sudah kering selanjutnya disimpan dalam
                            wadah kering tertutup dengan baik dan dapat langsung dipasarkan.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Jenis-jenis Cabai</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <ol>
                          <li><strong>Cabai rawit:</strong> buahnya kecil, berdiri tegak pada tangkainya, yang muda
                            berwarna hijau, yang matang berubah warna merah.</li>
                          <li><strong>Cabai merah:</strong> buahnya lebih besar dari cabai rawit, yang muda
                            berwarna putih, yang matang berubah warna jingga kemerahan.</li>
                          <li><strong>Cabai keriting:</strong> yang muda berwarna hijau, yang matang berubah warna
                            merah.</li>
                        </ol>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Indikasi Kegunaan (Manfaat)</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <ol>
                          <li><strong>Karminativa:</strong> meredakan atau mengurangi pembentukan gas dalam saluran
                            pencernaan, seperti perut kembung, kram perut, dan gejala lainnya yang terkait dengan
                            produksi gas berlebih dalam saluran pencernaan.</li>
                          <li><strong>Stimulansia:</strong> untuk meningkatkan aktivitas sistem saraf, konsentrasi,
                            imun, energi, dan gairah</li>
                          <li><strong>Stomakikum:</strong> mengatasi gangguan pencernaan atau masalah perut secara umum,
                            termasuk tidak hanya meredakan gas tetapi juga mengatasi masalah pencernaan lainnya seperti
                            mual, muntah, mulas. Kandungan
                            capsaicinoids dalam cabai rawit diyakini memiliki efek merangsang pada sistem pencernaan,
                            meningkatkan produksi cairan pencernaan
                            yang dapat membantu mempercepat proses pencernaan makanan </li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ...............................INI BAGIAN tamarindus FRUCTUS............................................................................. -->
                <div class="tab-pane fade" id="tamarin" role="tabpanel" aria-labelledby="tamarin-tab">
                  <div class="row">
                    <div class="col-lg-6">
                      <img src="/static/fructusadmin/images/tamarin.jpg" alt="Capsici Fructus"
                        class="img-fluid rounded mx-auto d-block">
                    </div>
                    <div class="col-lg-6">
                      <div class="alert alert-success text-center" role="alert">
                        <h3>Tamarindus Indicia Fructus</h3>
                        <hr>
                        <p>Piperis Albi Fructus adalah nama latin <strong> asam jawa
                          </strong>. Buah ini berasal dari tanaman <em>Tamarindus Indica (Luguminoase)</em>yang termasuk
                          dalam famili <strong><em>Fabaceae</em></strong> subfamili <strong>Caesalpiniacae</strong>.
                          Asam jawa adalah tanaman herbal yang berasal dari wilayah tropis Asia, termasuk Indonesia.
                          Ciri
                          khas buah asam jawa adalah bentuknya yang panjang dan ramping, dengan kulit cokelat tua yang
                          berkerut. Dalam buah tersebut terdapat biji-biji besar yang dikelilingi oleh daging buah yang
                          berwarna cokelat kecokelatan.
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Kandungan Senyawa Isi Berkhasiat</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <p>Buah asam jawa mengandung berbagai senyawa kimia, termasuk asam tartarat, asam sitrat, asam
                          malat, dan berbagai senyawa polifenolik seperti flavonoid dan tanin.</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Pemerian (Aroma dan Rasa)</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <p>Buah asam jawa memiliki rasa asam yang khas, serta baunya manis asam yang berasal dari
                          senyawa pada asam sitrat, asama tartarat, dan asam malat.
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Waktu Panen dan Mengolah</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <ul>
                          <li><strong>Pemanenan:</strong> Buah asam jawa dipanen ketika sudah mencapai tingkat
                            kematangan yang tepat, yang ditandai dengan warna kulitnya yang berubah menjadi hijau
                            kekuningan sampai kuning gading. Buah dipetik secara manual dari pohon dengan hati-hati
                            untuk memastikan kualitasnya.</li>
                          <li><strong>Sortasi Basah:</strong> Setelah dipanen, buah-buah direndam dalam air mendidih
                            selama beberapa menit untuk menghentikan proses pematangan. Langkah ini bertujuan untuk
                            membersihkan buah dan memastikan kualitasnya sebelum proses selanjutnya.</li>
                          <li><strong>Sortasi Kering:</strong> Setelah direndam, kulit luar buah diupas
                            untuk mengakses daging buah yang berisi pulp. Kemudian, pulp dipisahkan dari biji-bijinya,
                            karena yang digunakan dalam simplisia adalah daging buahnya. Daging buah yang telah
                            dipisahkan kemudian dikeringkan
                            secara alami di bawah sinar matahari atau menggunakan pengeringan buatan dengan suhu yang
                            terkontrol. Proses pengeringan bertujuan untuk mengurangi kadar air hingga mencapai tingkat
                            yang tepat, sekitar 10-12%.</li>
                          <li><strong>Penyimpanan:</strong> Setelah dikeringkan, simplisia dari buah asam jawa disimpan
                            dalam wadah yang kering dan tertutup rapat untuk menjaga kualitasnya. Simplisia dapat
                            disimpan untuk digunakan dalam pengobatan herbal atau dipasarkan kepada pabrikan obat-obatan
                            herbal.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Indikasi Kegunaan (Manfaat)</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <p>Asam jawa sering digunakan sebagai bahan dalam masakan. Selain itu, asam jawa berguna sebagai
                          obat herbal di berbagai budaya. Ekstrak asam jawa memiliki
                          potensi untuk mengurangi kadar gula darah, menurunkan kolesterol, dan melindungi terhadap
                          kerusakan oksidatif. Selain itu, sifat antiinflamasi dan antimikroba dari buah asam jawa juga
                          dapat memberikan manfaat untuk kesehatan pencernaan dan kulit.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ...............................INI BAGIAN AMOMI PRUCTUS............................................................................. -->
                <div class="tab-pane fade" id="amomi" role="tabpanel" aria-labelledby="amomi-tab">
                  <div class="row">
                    <div class="col-lg-6">
                      <img src="/static/fructusadmin/images/amomi.jpg" alt="Amomi Fructus"
                        class="img-fluid rounded mx-auto d-block">
                    </div>
                    <div class="col-lg-6">
                      <div class="alert alert-success text-center" role="alert">
                        <h3>Amomi Fructus</h3>
                        <hr>
                        <p> Amomi Fructus adalah nama Latin untuk buah yang lebih dikenal sebagai buah
                          amomum atau nama lainya adalah <strong>Kapulaga, Kapol, atau juga Cardamomi
                            Fructus </strong>. Buah ini berasal dari tanaman yang termasuk
                          dalam genus Amomum yakni <em><strong>Amomum compactum (Solan Ex Maton) atau Amomum
                              cardamomum (Auct. Non 1) atau Amomum kapulaga (Sprague & Burk) dari keluarga tanaman
                              Zingiberaceae.</strong></em> Tanaman kapulaga biasanya
                          ditemukan tumbuh di wilayah tropis dan subtropis.
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Kandungan Senyawa Isi Berkhasiat</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <p> Minyak atsiri 8% dengan isi utama Sineol.</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Pemerian (Rasa dan Aroma)</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <p>Pemerian amomi fructus ini adalah memiliki <strong> aroma yang khas dan rasa yang
                            pedas-manis </strong>, sehingga sering kali digunakan untuk meningkatkan cita rasa makanan
                          dan minuman.
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Waktu Panen dan Mengolah</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <ul>
                          <li><strong>Pemanenan:</strong> panenan dimulai tahun kedua dan ketiga tegantung kondisi
                            pertumbuhan rumput dan ketinggian tempat. Umumnya hasil yang berkualitas baik baru
                            diperoleh pada tahun kedua setelah panen. Panenan buah yang pertama dilakukan 3 bulan
                            setelah tanamm. Dipetik setiap 6-7 hari sekali. Ciri buah yang sudah matang adalah apabila
                            sisa bunga yang terdapat pada ujung karangan bunga sudah luruh. Dalam hal ini dapat
                            dikatakan seluruh buah dari karangan tersebut sudah tua. </li>
                          <li><strong>Sortasi Basah:</strong> Setelah dipanen, buah-buah direndam dalam air bersih
                            selama beberapa waktu untuk membersihkan buah dari kotoran atau kontaminan. Langkah ini
                            bertujuan untuk memastikan kualitas buah sebelum proses selanjutnya.</li>
                          <li><strong>Sortasi Kering:</strong> Setelah direndam, kulit luar buah diupas untuk mengakses
                            bijinya yang berada di dalam. Kemudian, biji dipisahkan dari daging buahnya, karena yang
                            digunakan dalam simplisia adalah bijinya. Biji yang telah dipisahkan kemudian dikeringkan
                            secara alami di bawah sinar matahari atau menggunakan pengeringan buatan dengan suhu yang
                            terkontrol. Proses pengeringan bertujuan untuk mengurangi kadar air hingga mencapai tingkat
                            yang tepat, sekitar 10-12%.</li>
                          <li><strong>Penyimpanan:</strong> Setelah dikeringkan, simplisia dari biji Amomi disimpan
                            dalam wadah yang kering dan tertutup rapat untuk menjaga kualitasnya. Simplisia dapat
                            disimpan untuk digunakan dalam pengobatan herbal atau dipasarkan kepada pabrikan obat-obatan
                            herbal.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Jenis-jenis Kapulaga</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <ol>
                          <li><strong>Kapulaga merah besar</strong> : Kulit buah merah, ukuran 2 cm</li>
                          <li><strong>Kapulaga merah kecil</strong> : Kulit buah merah, ukuran 1,2 cm</li>
                          <li><strong>Kapulaga putih</strong> : Kulit buah putih (sering disebut) kapulaga kapur,
                            ukuran
                            2 cm</li>
                        </ol>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="alert alert-success" role="alert">
                        <h5>Indikasi Kegunaan (Manfaat)</h5>
                        <hr style="height : 4px; background-color: azure;">
                        <p>Amomi Fructus (Kapulaga) memiliki berbagai kegunaan dalam pengobatan tradisional, terutama
                          dalam
                          pengobatan gangguan pencernaan seperti masuk angin, mual, dan gangguan perut lainnya. Selain
                          itu, buah ini juga sering digunakan sebagai bahan tambahan dalam makanan dan minuman untuk
                          memberikan aroma dan rasa yang khas.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- .tabcontent -->
          </div>
        </div>
      </div>
    </div><!-- .animated -->
  </div><!-- .content -->
    <a href="#" onclick="topFunction()" id="myBtn" title="Go to top"
    style="position: fixed; bottom: 20px; right: 20px; display: none;">
    <span class='bx bx-arrow-to-top bx-tada' style='color:#14033b; font-size: 2em;'></span>
  </a>

  <script>
    // Fungsi untuk menampilkan atau menyembunyikan tombol "Kembali ke atas" berdasarkan posisi scroll
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
      // Jika posisi scroll lebih dari 20 piksel dari bagian atas, tampilkan tombol
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
      } else {
        // Jika posisi scroll kurang dari 20 piksel dari bagian atas, sembunyikan tombol
        document.getElementById("myBtn").style.display = "none";
      }
    }

    // Fungsi untuk kembali ke atas saat tombol diklik
    function topFunction() {
      document.body.scrollTop = 0; // Untuk Safari
      document.documentElement.scrollTop = 0; // Untuk Chrome, Firefox, IE, dan Opera
    }
  </script>
  </div><!-- .right panel -->


  <script src="/static/fructusadmin/assets/js/vendor/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="/static/fructusadmin/assets/js/plugins.js"></script>
  <script src="/static/fructusadmin/assets/js/main.js"></script>

</body>

</html>
